name: Deploy to Cloud Run

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/91449588934/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-actions-deploy@gen-lang-client-0198955797.iam.gserviceaccount.com

      - uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: gcloud run deploy hr-system --source . --region us-central1 --quiet
